{% extends 'base.html.twig' %}

{% block main %}
    <h1>
        Accueil
    </h1>
    <h3> Liste des produits </h3>
        <ul>
            {% for product in products %}
                <li>
                    <a href="{{ path('product', {
                           'id_product': product.id
                    }) }}"> {{ product.name|upper }}  </a>
                </li>
            {% endfor %}
        </ul>
{% endblock %}


